

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Текущий счётчик  - {{count}}</h4>
    <button type="button" class="close" (click)="activeModal.close(count)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">

    <label>Следующий счёт - <a class="text-info">{{increment}}</a>. Подтвердите </label>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="activeModal.dismiss(increment)">Confirm</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(count)">Close</button>
  </div>

